services:

    proxy:
      build:
        context: ../
        dockerfile: ./dev/nginx/Dockerfile
      container_name: nginx
      hostname: nginx
      ports:
        - '8081:80'
      networks:
        - network

    php:
      build: ./php
      networks:
        - network
      volumes:
        - ../project/:/var/www/public

    postgres:
      image: postgres:alpine
      environment:
        POSTGRES_DB: postgres
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      ports:
        - '5432:5432'
      volumes:
        - pgdata:/var/lib/postgresql/data
      networks:
        - network

networks:
  network:

volumes:
  pgdata: